* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #151515;
    text-align: center;
}

.titlePro {
    color: white;
    border: 2px solid;
    border-left: transparent;
    border-right: transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 70px;
    display: inline-block;
    font-size: 18px;
    width: 70%;
}

.name {
    font-size: 4rem;
    color: white;
}

.subTitle {
    color: #888;
    font-size: 15px;
}

.buttonDiv {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    height: 180px;
    justify-content: space-around;
}

.buttonDiv a {
    text-decoration: none;
    color: white;
    width: 40%;
    border-radius: 8px; /* 半径が8pxの角丸 */
    height: 40px;
    font-size: medium;
    margin: auto;
    padding-top: 15px;
}

.page1 {
    padding-bottom: 80px;
}

#buttonLearn {
    background-color: #888;
}

#buttonSend {
    background-color: #D29E04;
}

img{
    width: 100%;
}

.aboutSection {
    background-color: white;
}

.myTitle {
    font-size: 2rem;
    text-decoration: underline double;
    padding-bottom: 20%;
    padding-top: 20%;

}

.spaceSpan {
    padding-bottom: 50px;
    width: 88%;
    margin: auto;
    font-size: 1.3rem;
}

.works {
    background-color: #383634;
    color: white;
}

.case {
    position: relative;
    height: 50%;
}

.case img {
    opacity: 0.2;
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: 50% 0;
    height: 160px;
}

.caseDetail{
    position: absolute;
    top: 0;
    left: 0;
}