* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    color: #333;
    font-size: 1.2rem;
    font-family: "Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
    color: #d03c56;
    text-decoration: none;
}

header {
    background-image: url(../images/bg-header.gif);
    width: 100%;
    position: relative;
    padding-bottom: 12px;
    background-repeat: repeat-x;/* 入れなくてもいい */
    /* background-position: left top;デフォルト値 */
}

/* 画像の文字を表示させるための作業 */
header a {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 56px;
}

header p {
    /*  
    margin
        ①marginはボックスを移動させたい時
        ②folatなどで左右に配置したボックス間の間隔
        ③見出しや段落など、文章間の間隔
    padding
        ①動かしたいものを囲むタグをセレクタにするべき
    */
    position: relative;
    top: 10px;
    padding-top: 13px;
    /* width: 224px;
    margin: 0 auto; */
    /* ボックス使うときはwidthを使った方がいい */
}

#firstList{
    background-color: #d03c56;
    border-radius: 7px;
}

#firstList a {
    color: white;
}

#nav a{
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 7px;
    font-size: 1em;
    transition: 0.15s;
}

.black a {
    color: black;
}

#nav a:hover {
    background-color: #d03c56;
    color: #fff;
    transition: 0.15s;
    border-radius: 7px;
}

#nav ul {
    width: 60%;
    margin: 0 auto; 
    padding-bottom: 10px;
}

#all {
    display: flex;
    width: 100%;
    justify-content: center;

}

#right {
    width: 25%;
    padding-left: 30px;
}

main {
    display: block;
    width: 660px;
}

#nav {
    margin: 0 auto;/* 中央揃え */
    box-shadow:0px 10px 10px -5px rgba(0,0,0,0.5);
    padding-top: 25px;
}

#nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

#topic {
    position: relative;
    margin: 0 auto;/* 中央揃え */
    background-color: #2d3d54;
    display: flex;
    color: #fff;
}

#topicLeft {
    background-repeat: no-repeat;
}

#topicRight h2 {
    padding-top: 40px;
}

#topicRight h3 {
    padding-top: 10px;
}


#topic time {
    background: #fff;
    color: #2d3d54;
    padding: 1rem;
}

#topic img {
    width: 100%;
}

.hidden {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.cate {
    display: inline-block;
    width: 50px;
    text-align: center;
    padding: 3px 5px;
    border-radius: 5px;
    color: #fff;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 14px;
}

.topicSpan {
    padding-bottom: 20px;
}

.pFont {
    font-size: 12px;
}

.news {
    background-color: #2d3d54;
}

.topic {
    background-color: rgb(167, 52, 52);
}

.topicLeftSpan {
    padding-left: 12px;
}

#section {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#topic section p:last-of-type {
    order: -1;
    padding: 0;
    margin-bottom: 0;
}

#rank dt {
    /* flex: 25%; */
    height: 25px;
    border: 1px solid #ccc;
    width: 25px;
    padding-bottom: 5px;
    margin-top: 18px;
    /**degとは角度のこと*/
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.white {
    color: #ccc;
}

.gray {
    color: gray;
}

#rank span {
    padding-top: 3px;
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center; 
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);

}

#gold {
    background-color: #dab413;
}

#silver {
    background-color: #6e7b84;
}

#dou {
    background-color: #a0541a;
}

.newsDl {
    display: flex;
    flex-wrap: wrap;
}

.newsDl a {
    display: flex;
    /* margin-left: 140px; */
    width: 100%;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 1.0rem;
}

.newsDl time {
    font-weight: bold;
    padding-right: 20px;
}

.newsDl dd {
    padding-left: 20px;
}

.newsDl a, .newsBg{
    padding-left: 20px;
    /* width: 70%; */
}

.newsDl a:nth-child(even), .newsBg, #rank h2{
    background-image: url(../images/bg-slash.gif);
    background-repeat: repeat;
    line-height: 40px;
}

.newsDl a:hover {
    background-color: rgb(121, 121, 121);
}

.tipsDiv:hover ,#rank a:hover{
    opacity: 0.6;
}

.newsArticle {
    position: relative;
    justify-content: center;
    /* padding-left: 100px; */
    display: block;
    line-height: 40px;
    padding-top: 40px;
}
#tips {
    display: block;
    width: 100%;
}

#tipsBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#topic:hover {
    opacity: 0.6;
}

#tipsBlock a {
    display: block;
    width: 315px;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.5);
    padding-bottom: 10px;
}

.tipsDiv time {
    background-color: #b5d264;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.1rem;
    font-weight: bold;
    float: right;
}

.tipsDiv div{
    color: black;
}

.tipsDiv {
    position: relative;
}

.tipsDiv div {
    padding-top: 215px;
    padding-left: 10px;
}

.tipsDiv img {
    top: 0;
    position: absolute;
}

#rank dl, #rank div a{
    display: block;
}

#rank div a{
    display: flex;
    color: black;
}

#rank div {
    padding-top: 10px;
}

#rank img {
    padding-right: 5%;
}

#rank a dd {
    padding-left: 5%;
}

nav h2{
    background-image: url(../images/bg-slash.gif);
    background-repeat: repeat;
    line-height: 40px;
    margin-top: 20px;
}

.list_triangle {
    padding: 0px;
    margin: 0px;
    list-style: none;
    padding-left: 2em;
}

.list_triangle li {
    line-height: 30px;
}

.list_triangle > li {
    position: relative;
    padding: 0px 0px 0px 1em;
}

.list_triangle > li::before {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    width: 0px;
    height: 0px;
    border: 0.3em solid transparent;
    border-left: 0.4em solid black;
    content: "";
}

nav section {
    padding-top: 20px;
}

.list_triangle a:hover {
    text-decoration: underline;
}

.redBorder {
    border: 4px solid;
    border-color: #d03c56;
    border-bottom: transparent;
    border-top: transparent;
    border-right: transparent;
    padding-left: 4px;
}

.search {
    background-color: #CCCCCC;
    margin-top: 40px;
    height: 100px;
}

#textfield {
    width: 200px;
    height: 30px;
    padding-left: 10px;
    margin-left: 20px;
}

.button {
    background-color: #d03c56;
    color: white;
    height: 30px;
    width: 40px;
}

.search p {
    margin-left: 20px;
    padding-top: 20px;
}

.footer {
    background-color: #2d3d54;
    margin-top: 60px;
}

footer ul {
    display: flex;
    float: right;
    padding-top: 10px;
    padding-right: 40px;
}

.footer li a {
    color: #777;
    text-decoration: underline;
    padding-left: 10px;
}

.footer li a:hover {
    color: white;
}

.footer p {
    color:#fff;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
}