* {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    font-size: 28px;
    height: 70px;
    align-items: center;
    display: flex;
    justify-content: center;
}

#topImg {
    width: 100%;
}

.showProduct {
    padding-top: 40px;
    text-align: center;
}

.productList {
    text-decoration: none;
    line-height: 2em;
}

.productImg {
    text-align: center;
    width: 100%;
}

.price {
    font-size: 25px;
}

.capacity {
    font-size: 20px;
}