* {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    font-size: 28px;
    height: 70px;
    align-items: center;
    display: flex;
    justify-content: center;
}

#topImg {
    width: 100%;
    height: 500px;
    object-position: 50% 80%;
    object-fit: cover;
}

.showProduct h2, .productList {
    padding-top: 40px;
    text-align: center;
}

.productList {
    display: flex;
    justify-content: center;
    width: 100%;
}

.productList li {
    width: 20%;
    list-style: none;
}

.productImg {
    width: 500px;
    margin-left: 150px;
}

.product {
    display: flex;
    padding-top: 40px;
}

.productImgBox {
    width: 50%;
}

.productDetail {
    padding-top: 40px;
    display: flex;
    justify-content: left;
}

.productDetail dd {
    padding-left: 120px;
}