* {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    font-size: 28px;
    height: 70px;
    align-items: center;
    display: flex;
    justify-content: center;
}

#topImg {
    width: 100%;
    height: 500px;
    object-position: 50% 80%;
    object-fit: cover;
}

.showProduct {
    margin-bottom: 100px;
}

.showProduct h2, .productList {
    padding-top: 40px;
    text-align: center;
}

.productList {
    display: flex;
    justify-content: center;
    width: 100%;
}

.productList li {
    width: 20%;
    list-style: none;
}

.productImg {
    width: 500px;
    /* margin-left: 150px; */
}

.product {
    display: flex;
    padding-top: 40px;
    justify-content: center;
    margin-left: 80px;
    margin-right: 80px;
}

.productImgBox {
    width: 50%;
}

.productDetailBox a {
    color: black;
    font-size: 26px;
}

.productDetailBox p {
    padding-top: 40px;
    overflow-wrap: break-word;
}

.productDetail {
    padding-top: 40px;
    display: flex;
    justify-content: left;
    padding-bottom: 60px;
}

.productDetail dd {
    padding-right: 100px;
}

.part2 {
    background-image: url(../img/muji13.jpg);
}

.part3 {
    background-image: url(../img/muji3.jpg);
}

.part {
    background-size: 100% 600px;
    background-repeat: no-repeat;
    height: 700px;
    padding-top: 400px;
}

.partBox {
    background-color: #CEF7FF;
    width: 60%;
    height: 400px;
    display: table;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 30%;
}

.partBox p {
    font-size: 20px;
    line-height: 3em;
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    overflow-wrap: break-word;
}

.part4 {
    text-align: center;
}

.part4 p {
    padding-bottom: 100px;
    font-size: 25px;
}

.part4 img {
    width: 100%;
}